<h3>Students List</h3>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Roll</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentsList">
       <th scope="row">{{student.id}}</th>
        <td>{{student.name}}</td>
        <td>{{student.rollnumber}}</td>
        <td>{{student.course}}</td>
      </tr>
    </tbody>
  </table>

  <a class="btn btn-primary" routerLink="details">student details</a> &nbsp;
  <a class="btn btn-primary" routerLink="registration">student registration</a>
  <router-outlet></router-outlet>